body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #070A13;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: calc(0.7em + 0.5vw);
    line-height: calc(1.3em + 0.8vw);
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.7vmin;
}

h1 {
    font-size: calc(1.7em + 2vw);
    line-height: calc(1em + 0.8vw);
}

h2 {
    font-size: calc(1.5em + 1.8vw);
    line-height: calc(1em + 0.8vw);
}

h3 {
    font-size: calc(1.3em + 1.6vw);
    line-height: calc(1em + 0.8vw);
}

h4 {
    font-size: calc(1.1em + 1.4vw);
    line-height: calc(1em + 0.8vw);
}

h5 {
    font-size: calc(0.9em + 1.2vw);
}

h6 {
    font-size: calc(0.7em + 1vw);
}

main {
    flex: 2;
}



