.intro {
    color: #a5b8cc;
    width: 100vw;
    min-height: 15vh;
    overflow: hidden;
    display: grid;
    justify-content: center; 
    align-items: flex-start;
}

.intro__bread {
    width: 90vw;
    margin-bottom: 1em;
}
