
.results--before {
    width: 100vw;
    background-image: url("https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg?cs=srgb&dl=pexels-bess-hamiti-36487.jpg&fm=jpg");
    background-color: #070A13;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.results_wrapper {
    visibility: hidden;
}
// .results--after {
    // max-width: 90vw;
    // margin: 5vw auto;
//     background-color: black;

// }