.results {
    color: whitesmoke;
    display: flex;
    margin-top: 1em;
}
   
.results__wrapper {
    background-color:#6d869f;
    margin: 1em;
    height: auto;
    width: 30vw;
    border-radius: 8px;
}

.results__head {
    text-align: center;
    padding: 1em 0.2em 0.2em 0.2em;
    height: 2.8em;
}

.results__bread {
    text-align: left;
    padding: 1em;
}